canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #232323;
}
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
button {
  border-radius: 50%;
  outline: none;
  background-color: lightblue;
  border: none;
  cursor: pointer;
}
nav {
  background: black;
  color: grey;
  z-index: 1;
}

a {
  position: relative;
  left: 88%;
  text-decoration: none;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  position: relative;
  left: 45%;
  font-family: cursive;
}
